spring:
  data:
    jpa:
      repositories:
        enabled: true
  datasource:
    username: ${POSTGRES_USERNAME:user}
    password: ${POSTGRES_PASSWORD:password}
    url: jdbc:postgresql://${POSTGRES_HOST}:5432/${POSTGRES_DATABASE}
  jpa:
    properties.hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    hibernate:
      ddl-auto: update

service:
  download:
    rate: 5000
    initialDelay: 5000
  storage:
    expiration: 12
    cron: 0 * * * * ?
  extraction:
    rate: 5000
    initialDelay: 1000
    ffmpeg:
      location: /usr/bin/ffmpeg
    ffprobe:
      location: /usr/bin/ffprobe
  output:
    stream:
      buffer: "2048"
