spring:
  data:
    jpa:
      repositories:
        enabled: true
  datasource:
    username: ${JDBC_USERNAME:user}
    password: ${JDBC_PASSWORD:password}
    url: ${JDBC_URL:jdbc:postgresql://localhost:5432/youtube-extractor}
  jpa:
    properties.hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    hibernate:
      ddl-auto: update

service:
  download:
    rate: 5000
    initialDelay: 5000
  storage:
    expiration: 12
    cron: 0 * * * * ?
  extraction:
    rate: 5000
    initialDelay: 1000
    ffmpeg:
      location: /usr/local/bin/ffmpeg
    ffprobe:
      location: /usr/local/bin/ffprobe